<div class="demo-container demo-layout-transparent">
   <mdl-layout #mdlLayout1="mdlLayout">
      <mdl-layout-header mdl-layout-header-transparent>
         <mdl-layout-header-row>
            <mdl-layout-title>Menu</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
               <a href="https://www.instagram.com/lendorelendoencantando/?hl=pt-br" target="_blank">
                    <img class="instagram-icon pull-right" src="../../assets/insta.png" />
                </a>
                <a href="https://pt-br.facebook.com/lendorelendoencantando" target="_blank">
                    <img class="instagram-icon pull-right icon-item" src="../../assets/face.png" />
                </a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Menu</mdl-layout-title>
         <nav class="mdl-navigation">
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" routerLink="/">Inicio</a>
                <a class="mdl-navigation__link" routerLink="/resenhas">Resenhas</a>
                <a class="mdl-navigation__link">Entrevistas</a>
                <a class="mdl-navigation__link">Parceiros</a>
            </nav>
         </nav>
         <mdl-layout-title>Dicas</mdl-layout-title>
         <nav class="mdl-navigation">
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link">Filmes</a>
                <a class="mdl-navigation__link">Séries</a>
            </nav>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
          <div class="title" style="text-align: center; margin-bottom: 50px">
            <div style="margin-bottom: 30px">Lendo,</div>
            <div style="margin-bottom: 30px">Relendo,</div>
            <div>Encantando</div>
        </div>
        <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>
</div>




