.book-title{
    color: red;
    font-size: 9pt;
    padding: 5px;
    font-weight: bold;
}

.book-description{
    color: red;
    font-size: 8pt;
    padding: 5px;
    font-weight: 600;
}

.resenha-item{
    padding: 5px;
    background-color: white;
    border-radius: 16px;
}