<div class="container">

    <div class="row">
        <div class="col-xs-8">
            <mdl-card mdl-shadow="2">
                <mdl-card-title style="background: url('../../assets/rsz_jessicah.jpg') no-repeat; height: 176px ">
                    <h2 mdl-card-title-text>Resenhas</h2>
                </mdl-card-title>
                <mdl-card-supporting-text>
                    Venha conferir todas resenhas feitas por mim!!
                </mdl-card-supporting-text>
                <mdl-card-actions mdl-card-border>
                    <button mdl-button mdl-colored mdl-ripple routerLink="/resenhas">Visitar</button>
                </mdl-card-actions>
                <mdl-card-menu>
                    <button mdl-button mdl-button-type="icon" mdl-ripple>
                        <mdl-icon>share</mdl-icon>
                    </button>
                </mdl-card-menu>
            </mdl-card>
        </div>
    </div>
</div>