<div class="row">
    <div class="col-xs-12 col-md-4 card-spacing mobile-padding">
        <mdl-card mdl-shadow="2" class="card-size">
            <mdl-card-title class="card-image">
                <h2 mdl-card-title-text style="color: linen;">Resenhas</h2>
            </mdl-card-title>
            <mdl-card-supporting-text>
                Venha conferir todas resenhas feitas por mim!!
            </mdl-card-supporting-text>
            <mdl-card-actions mdl-card-border>
                <button mdl-button mdl-colored mdl-ripple routerLink="/resenhas">Visitar</button>
            </mdl-card-actions>
            <mdl-card-menu>
                <button mdl-button mdl-button-type="icon" mdl-ripple>
                    <mdl-icon style="color: linen;">share</mdl-icon>
                </button>
            </mdl-card-menu>
        </mdl-card>
    </div>

    <div class="col-xs-12 col-md-4 card-spacing mobile-padding">
        <mdl-card mdl-shadow="2" class="card-size">
            <mdl-card-title class="card-quiz">
                <h2 mdl-card-title-text style="color: linen;">Quiz</h2>
            </mdl-card-title>
            <mdl-card-supporting-text>
                Responda o Quiz desta semana e ganhe brindes!!
            </mdl-card-supporting-text>
            <mdl-card-actions mdl-card-border>
                <button mdl-button mdl-colored mdl-ripple routerLink="/quiz/responder/586b123194e756ec35ef50df">Responder</button>
            </mdl-card-actions>
            <mdl-card-menu>
                <button mdl-button mdl-button-type="icon" mdl-ripple>
                    <mdl-icon style="color: linen;">share</mdl-icon>
                </button>
            </mdl-card-menu>
        </mdl-card>
    </div>

    <div class="col-xs-12 col-md-4 card-spacing mobile-padding">
        <div class="fb-page"
        data-href="https://facebook.com/lendorelendoencantando/" 
        data-width="340"
        data-hide-cover="false"
        data-show-facepile="true"></div>
    </div>
</div>
